@media (min-width: 42em) {
    body {
        cursor: url("/assets/images/cursor.png"), auto;
    }
    
    a {
        cursor: url("/assets/images/cursor.png"), auto;
    }

    .mouse-ring {
        position: fixed;
        border: 2px solid #c0c0c0;
        z-index: 10;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        transition: height .2s linear, width .2s linear;
        pointer-events: none;
    
        &.on {
            width: 24px;
            height: 24px;
            background-color: #c0c0c0;
            opacity: .5;
        }
    }
}
