<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="renderer" content="webkit">
        <title>{% if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
        <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/avatar.jpg">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    </head>
    <body>
        {% include partials/header.html %}

        <div id="main" class="main">
            {{ content }}
        </div>

        {% include partials/navigation.html %}
        {% include partials/footer.html %}
        {% include partials/b2t.html %}
        {% include scripts/scripts.html %}
    </body>
</html>