<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="renderer" content="webkit">
        <title>{% if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
        {% if site.favicon.enable %}
        <link rel="shortcut icon" href="{{ site.baseurl }}{{ site.favicon.path }}">
        {% endif %}
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
        {% if site.aplayer %}
        <!--APlayer Style-->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/helper/APlayer.min.css">
        {% endif %}
    </head>
    <body>
        {{ site.baseurl }}
        {% include partials/header.html %}

        <main id="main" class="main">
            {{ content }}
        </main>

        {% include partials/navigation.html %}

        {% if site.b2t == true %}
        {% include helper/b2t.html %}
        {% endif %}

        {% if site.aplayer %}
        {% include helper/aplayer.html %}
        {% endif %}

        {% unless page.footer == false %}
        {% include partials/footer.html %}
        {% endunless %}

        {% include scripts/scripts.html %}

        {% if site.mathjax %}
        {% include helper/mathjax.html %}
        {% endif %}

        {% if page.snowfall %}
        <!--Snow Fall-->
        <script src="{{ site.baseurl }}/assets/js/snow-fall.js"></script>
        {% endif %}
    </body>
</html>