<div class="content post">
    <div class="post-head">
        <div class="post-title">{{ page.title }}</div>
        <div class="post-info">
            <!--Author-->
            {% if page.author %}
            {% for author in page.author %}
            {{ author }}<span class="space">·</span>
            {% endfor %}
            {% endif%}
            <span>{{ __.post["created"] }}{{ page.date | date: "%Y-%m-%d" }}</span>
            <!--Dexcription-->
            {% if page.description %}
            <p class="article-description">{{ page.description }}</p>
            {% endif %}
        </div>
    </div>
    {{ content }}
</div>
