<div class="content post">
    <div class="post-head">
        <div class="post-back"><a href="{{ site.baseurl }}/postlist/">{{ __.post["back2list"] }}</a></div>
        <div class="post-title">{{ page.title }}</div>
        <div class="post-info">
            {% if page.author %}
            {% for author in page.author %}
            {{ author }}<span class="space">·</span>
            {% endfor %}
            {% endif%}
            <span>{{ __.post["created"] }}{{ page.date | date: "%Y-%m-%d" }}</span>
            {% include helper/description.html %}
        </div>
    </div>
    {{ content }}
</div>
