@font-face {
    font-family: Ubuntu-r;
    src: url("/assets/lib/fonts/UbuntuMono-Regular.ttf");
}

@font-face {
    font-family: HYnmt-r;
    src: url("/assets/lib/fonts/HYNuoMiTuanW.ttf");
}

@font-face {
    font-family: Yiwen-r;
    src: url("/assets/lib/fonts/一吻便偷一颗心(non-commercial).ttf");
}
