@font-face {
    font-family: Ubuntu-r;
    src: url("/assets/lib/fonts/UbuntuMono-Regular.ttf");
}

@font-face {
    font-family: HYnmt-r;
    src: url("/assets/lib/fonts/HYNuoMiTuanW.ttf");
}

@font-face {
    font-family: LXGW-r;
    src: url("/assets/lib/fonts/LXGWWenKai-Regular.ttf");
}
