@font-face {
    font-family: Ubuntu-r;
    src: url("/assets/lib/fonts/UbuntuMono-Regular.ttf");
}

@font-face {
    font-family: HYnmt-r;
    src: url("/assets/lib/fonts/HYNuoMiTuanW.ttf");
}

@font-face {
    font-family: SourceHanSans;
    src: url("/assets/lib/fonts/SourceHanSansSC-Regular.otf");
}
